body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 700;
}

input {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}

.body-content {
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 24px;
  outline: none;
  line-height: 24px;
  caret-color: white;
  max-height: 70vh;
}

.line {
  outline: none;
  border: none;
  background-color: transparent;
  line-height: 24px;
  display: inline-block;
  caret-color: transparent;
}